<div class = "center hero-unit">
<h1>Добро пожаловать на мою тестовую страницу Sample App</h1>

<h2>
	Это моя тестовая страница. Пробую, учусь, когда нибудь запущу свое RoR приложение.
</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>
<%= link_to image_tag("rails-logo.svg", alt: "Rails"), 'http://rubyonrails.org/' %>
